@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 :root {
  --special-font: 'Julius Sans One', sans-serif;
 }

 body {
  margin: 0;
  font-family: var(--special-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #e8ecf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  margin: 1rem 0.2rem;
  padding: 1rem;
  width: 20vw;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px grey;
}

img {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 5vw;
  border-radius: 2px;
  border: 1px solid black;
  background-size: cover;
  box-shadow: 1px 2px 1px grey;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: var(--special-font);
}


li {
  font-size: 0.9rem;
}

p {
  font-size: 1rem;
  margin: 0.3rem;
}

h3 {
  font-size: 1rem;
  font-family: var(--special-font);
}