@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Julius+Sans+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --special-font: 'Julius Sans One', sans-serif;
  --normal-font: 'Crimson Pro', serif;
}

 h1, h2, label, input, .languages li {
   font-family: var(--special-font);
 }

.App-header h1,
label {
  color: whitesmoke;
}

body {
  margin: 0;
  font-family: var(--normal-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.loader_wrapper,
body {
  background-color: #3c788e;
}

nav ul {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav li a {
  font-size: 1.5rem;
}


/***  Home  and About ****/

.home {
  background-image: url('./assets/blank_map_world_reversed.png');
  background-color: whitesmoke;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.home p,
.home a {
  color: black;
}

.about p {
  position: relative;
  right: -24rem;
}


.about {
  color: whitesmoke;
  margin: 3rem;
  font-family: var(--special-font);
  width: 32rem;
}

.home p,
.home a,
.about p,
.about a {
  font-size: 1.6rem;
}

/***  end Home and About ****/

.countriesList a {
  text-decoration: none;
  color: black;
}

input {
  margin: 1rem;
  padding: 0.4rem;
  font-family: var(--special-font);
}

.input_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countriesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  margin: 1rem 0.6rem;
  padding: 1rem;
  width: 20vw;
  min-width: 12rem;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #285667;
  background-color: whitesmoke;
}

.card:hover {
  box-shadow: 5px 5px 5px #18323c;
}

.languages,
.currencies,
.capital {
  margin-top: 0.6rem;
}

ul {
  list-style: none;
  font-size: 1rem;
}

li {
  padding-left: 1rem;
  font-size: 0.9rem;
}

svg {
  font-size: 1rem;
}

img {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 5vw;
  border-radius: 2px;
  border: 1px solid black;
  background-size: cover;
  box-shadow: 1px 2px 1px grey;
}


h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  margin: 0.1rem;
}

h3,
a {
  color: whitesmoke;
  font-size: 1rem;
  font-family: var(--special-font);
}

.bold {
  font-weight: bold;
}

/***** Home and SingleCountry ******/
.home,
.singleCountry {
  padding: 2rem;
}

/* list bulleting symbols  */
.languages li::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  position: relative;
  left: -0.3rem;
  top: 0.2rem;
  background-image: url('assets/lang.svg');
  background-size: cover;
}

/* list bulleting symbols  */
.currencies li::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  position: relative;
  top: 0.4rem;
  background-image: url('assets/money.svg');
  background-size: cover;
}

/****** CountrySingle ******/
.singleCountry {
  display: flex;
  justify-content: center;
}

.singleCountryBox {
  padding: 3rem;
  font-size: 1.5rem;
  font-family: var(--special-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleCountryBox p,
.singleCountryBox h1 {
  padding: 0.3rem;
}

.singleCountryBox span {
  font-weight: bold;
}

.singleCountryBox p:nth-child(3),
.singleCountryBox > span {
  color: whitesmoke;
}

.singleCountryBox img {
  position: relative;
  left: -0.5rem;
  top: -0.3rem;
  box-shadow: none;
  border: none;
  width: 9rem;
}

.singleCountryBox h1 {
  font-size: 1.6rem;
}